<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://darwinfoundation.org/" class="nav-link" target="_blank">
                <span>Charles Darwin Foundation</span>
            </a>
        </li>
        <li>
            <a href="https://www.darwinfoundation.org/en/research-hub/datazone/" class="nav-link" target="_blank">
                <span>dataZone</span>
            </a>
        </li>
        <li>
            <a href="https://geonode.org/" class="nav-link" target="_blank">
                <span>GeoNode</span>
            </a>
        </li>
    </ul>
</footer>
